#!/usr/bin/make -f

# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_clean:
	rm -fr build

override_dh_auto_configure:
	mkdir -p build
	cd build && meson .. --prefix=/usr \
		-Dinit-script=systemd \
		-Dapparmor=true \
		-Dseccomp=true \
		-Dselinux=false \
		-Dman=true \
		-Dexamples=false \
		-Dcgroup-pattern='lxc/%n'

# override_dh_auto_build:
# 	cd build && ninja -v
# 
# override_dh_auto_test:
# 	cd build && ninja test

override_dh_fixperms:
	dh_fixperms -Xusr/lib/$(DEB_HOST_MULTIARCH)/lxc/lxc-user-nic

override_dh_install:
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/*.la
	rm -f debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/liblxc_static.a
	dh_apparmor -p lxc-pve --profile-name=usr.bin.lxc-start
	dh_apparmor -p lxc-pve --profile-name=lxc-containers
	dh_install

override_dh_missing:
	dh_missing --fail-missing

override_dh_installsystemd:
	dh_installsystemd -plxc-pve -r lxc-monitord.service lxc-net.service
	dh_installsystemd -plxc-pve -r --no-restart-after-upgrade lxc.service
